.btn {
    background: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background-color: inherit;
}

.btn-header {
    font-weight: 400;
    color: var(--main-color);
    border: var(--main-color) solid 2px;
    padding: 10px;
}

.btn-header:hover {
    color: var(--black-color);
    border: var(--black-color) solid 2px;
}

.btn-form,
.btn-cv {
    background-color: var(--black-color);
    color: var(--main-color);
    border: var(--black-color) 2px solid;
    padding: 15px;
}

.btn-form:hover,
.btn-cv:hover {
    background-color: var(--main-color);
    color: var(--black-color);
}

.btn-prt {
    border: none;
    background-color: transparent;
    cursor: pointer;
}