.btn {
    background: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background-color: inherit;
    transition: transform .7s;
}

.btn-close:hover {
    transform: scale(1.2);
}

.btn-header {
    font-weight: 400;
    color: var(--main-color);
    border: var(--main-color) solid 2px;
    padding: 10px;
}

.btn-header:hover {
    color: var(--black-color);
    border: var(--black-color) solid 2px;
    transition: color .7s ease-in-out, border .7s ease-in-out;
}

.btn-cv {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-form,
.btn-cv {
    background-color: var(--black-color);
    color: var(--main-color);
    border: var(--black-color) 2px solid;
    padding: 15px;
}

.btn-form:hover,
.btn-cv:hover {
    background-color: var(--main-color);
    color: var(--black-color);
    transition: background-color .7s ease-in-out, color .7s ease-in-out;
}

.btn-prt {
    border: none;
    background-color: transparent;
    cursor: pointer;
}