#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 25px;
}
  
.about-me-container {
    display: flex;
    justify-content: space-around;
    gap: 5em;
}
    
.about-me-photo img {
    width: 415px;
    height: 440px;
    object-fit: cover;
    border: var(--black-color) 2px solid;
    vertical-align: middle;
}
  
.about-me-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
  
.about-me-text-icons {
    display: flex;
}
  
.about-me-text-icons img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
  
.about-me-text-description {
    font-size: 22px;
}
  
.about-me-text-button {
    align-self: flex-end;
    padding-right: 2em;
}
    
.about-me-photo-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
  
.about-me-text {
    text-indent: 20px;
    font-weight: 500;
    font-size: 20px;
}
  
#portfolio {
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
  
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  

.portfolio-container-item {
    cursor: pointer;
    overflow: hidden;
}
  
.portfolio-container-item img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    transition: transform .85s;
}

.portfolio-container-item img:hover {
    transform: scale(1.2);
}

#payment-options {
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
  
.payment-options-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
  
.payment-options-list-item img {
    max-width: 100px;
}
  
@media screen {
    .header-photo {
        background-size: cover;
    }
}

/* Smartphones */
@media screen and (max-width: 480px) {
    #about-me h1, #portfolio h1 {
        font-size: 22px;
    }
    .about-me-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .about-me-photo img {
        width: 185px;
        height: 210px;
    }
    .about-me-text-icons img {
        width: 12px;
        height: 12px;
    }
    .about-me-text {
        display: flex;
        flex-direction: column;
        padding: 35px 25px;
        position: relative;
    }
    .about-me-text-icons {
        margin: 0 auto;
    }
    .about-me-text-icons li {
        padding: 0 5px;
    }
    .about-me-text-icons li img {
        display: block;
    }
    .about-me-text-description {
        font-size: 10px;
    }
    .btn-cv {
        position: absolute;
        right: 30%;
        bottom: -10%;
    }
    #portfolio {
        min-height: 20em;
    }
    .portfolio-container-item {
        max-width: 50%;
    }
    .payment-options-list-item {
        width: 8em;
        text-align: center;
    }
}

/* Pads */
@media screen and (min-width: 480px) and (max-width: 1024px) {
    .about-me-photo img {
        width: 260px;
        height: 400px;
    }
}
