#feedback,
#doctor-calm,
#optimax {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#feedback h1 {
    text-align: center;
    padding-bottom: 5px;
}

.modal-container-portfolio {
    position: relative;
    background-color: var(--main-color);
    padding: 5px 15px 15px;
    border: 2px solid var(--black-color);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    animation-name: pulloutmodal;
    animation-duration: 0.5s;
}

@keyframes pulloutmodal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-container {
    margin: 10% auto;
}

.modal-container-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 10px;
}

.modal-container-header img {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

.modal-container h1 {
    margin: 0 auto;
}

.modal-container-portfolio {
    margin: 2% auto;
    background-color: var(--white-color);
}

.modal-container-portfolio a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
}

.modal-container-portfolio a:hover {
    text-decoration: underline;
}

.modal-container-image {
    width: 100%;
}

.modal-container-image img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.portfolio-project-description {
    font-size: 18px;
    text-indent: 20px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.input-form, 
.textarea-form {
  background-color: var(--main-color);
  padding: 5px 10px;
  font-family: inherit;
  border: 1px solid var(--black-color);
  width: 400px;
}

.input-form {
  height: 30px;
}

.textarea-form {
  resize: none;
  height: 150px;
}

::placeholder {
  color: var(--black-color);
}