.footer-container {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-socials img {
    height: 35px;
    width: 35px;
    border: var(--main-color) 3px solid;
    transition: transform .7s;
}

.footer-socials img:hover {
    transform: scale(1.4);
}

.footer-suggestions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-copyrights {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    background-color: var(--black-color);
    color: var(--main-color);
}

@media screen and (max-width: 480px) {
    .footer-socials img {
        height: 30px;
        width: 30px;
    }
    .footer-copyrights {
        font-size: 12px;
    }
}